# Git
.git/
.github/
.gitignore
.gitmodules

# Build artifacts
/target/
/cargo/
/data/
/test/
/integration_logs/
genesis.json
/op-reth
/scripts/benchmark-results.*

# IDE/Editors
.code/
.idea/
.vscode/
.DS_Store
.editorconfig

# Documentation
*.md
docs/
CODEOWNERS

# CI/Dev tools
justfile
Makefile
zepter.yaml
rustfmt.toml
rust-toolchain.toml

# Environment
.env

# Misc
/mev-test-contract/cache/
/mev-test-contract/out/
.dockerignore
